:root {
    --base-black: #191919;
    --white-1: #dfe1fc;
    --base-red: #EF3E3A;
}

* {
    margin: 0;
    padding: 0;
    background: var(--base-black);
    font-family: "Poppins", sans-serif;
    color: var(--white-1);
}